.env

/.vscode
/.vs

/academics/.vs
/academics/appsettings.json
/academics/bin
/academics/obj

/auth/dist
/auth/node_modules
/auth/logs
/auth/*.log
/auth/npm-debug.log*
/auth/.DS_Store
/auth/coverage
/auth/.nyc_output
/auth/.env

/communication/env
/communication/.env
